extends layout

block content
  h1= title

  form(method="POST", action="/new")
    p Author
    input(type="text", name="author")
    p Message
    input(type="text", name="message")
    br
    br
    input.submitBtn(type="submit")