extends layout

block content
  h1= title
  
  button(type="button")
    a(href="./new") Create new message 
  br
  h2 Messages
  ul
  each message, i in messages 
    li= message.text
    li= message.user
    li= message.added

