extends layout

block content
  h1= title
  
  button.btn(type="button")
    a(href="./new") Create new message 
  br
  h2 Messages
    each message, i in messages 
      .container
      ul.card
        h5 Message:
        li= message.text
        h5 Sender:
        li= message.user
        h5 Time details:
        li= message.added

